attrs==20.1.0
beautifulsoup4==4.9.1
certifi==2020.6.20
chardet==3.0.4
comtypes==1.1.7
DateTime==4.3
google==3.0.0
googleapis-common-protos==1.52.0
grpcio==1.31.0
grpcio-tools==1.31.0
idna==2.10
jsonschema==3.0.1
opuslib==3.0.1
protobuf==3.13.0
psycopg2==2.8.5
pypiwin32==223
pyrsistent==0.16.0
pyttsx3==2.90
pytz==2020.1
pywin32==228
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
SpeechRecognition==3.8.1
tinkoff-voicekit-client==0.1.4
urllib3==1.25.10
zope.interface==5.1.0
